= javascript_pack_tag 'shogizumen', 'data-turbolinks-track': 'reload'
= @question.title
= @question.turn
= @question.last_move
pre.shogizumen
  = @question.kif
= @question.explanation
= @question.answer_explanation
